*               text=auto
# 유닉스 계열로 유지
*.sh            text eol=lf
*.cnf           text eol=lf
*.yml           text eol=lf
*.yaml          text eol=lf
*.md            text eol=lf
# 윈도우 배치
*.bat           text eol=crlf
