-- KU멍가게 기본 스키마 (MVP)
-- MySQL 8.0 / utf8mb4
SET NAMES utf8mb4;
CREATE DATABASE IF NOT EXISTS kumeong_store
  DEFAULT CHARACTER SET utf8mb4
  DEFAULT COLLATE utf8mb4_0900_ai_ci;
USE kumeong_store;

-- 공통: 생성/수정 시각 자동
-- (애플리케이션에도 동일 필드 사용 권장)
-- ------------------------------------------------

-- 1) 사용자
CREATE TABLE IF NOT EXISTS users (
  id            BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  email         VARCHAR(255) NOT NULL UNIQUE,
  password_hash VARCHAR(255) NOT NULL,
  name          VARCHAR(100) NOT NULL,
  campus_code   VARCHAR(32)  NOT NULL,  -- 학교 식별(이메일 도메인과 별개로 필터링용)
  trust_score   DECIMAL(4,2) NOT NULL DEFAULT 36.5, -- 매너/신뢰도 출발값
  created_at    DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  updated_at    DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  INDEX idx_users_campus (campus_code)
) ENGINE=InnoDB;

-- 2) 카테고리 (상위/하위)
CREATE TABLE IF NOT EXISTS categories (
  id           BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  parent_id    BIGINT UNSIGNED NULL,
  name         VARCHAR(100) NOT NULL,
  sort_order   INT NOT NULL DEFAULT 0,
  created_at   DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  updated_at   DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  CONSTRAINT fk_cat_parent FOREIGN KEY (parent_id) REFERENCES categories(id) ON DELETE SET NULL,
  UNIQUE KEY uq_parent_name (COALESCE(parent_id,0), name)
) ENGINE=InnoDB;

-- 3) 상품
CREATE TABLE IF NOT EXISTS products (
  id             BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  seller_id      BIGINT UNSIGNED NOT NULL,
  title          VARCHAR(200) NOT NULL,
  description    TEXT NULL,
  price          INT NOT NULL,
  category_top   BIGINT UNSIGNED NULL,
  category_sub   BIGINT UNSIGNED NULL,
  status         ENUM('ON_SALE','RESERVED','SOLD_OUT') NOT NULL DEFAULT 'ON_SALE',
  campus_code    VARCHAR(32) NOT NULL,
  like_count     INT NOT NULL DEFAULT 0,
  view_count     INT NOT NULL DEFAULT 0,
  created_at     DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  updated_at     DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  CONSTRAINT fk_prod_seller  FOREIGN KEY (seller_id)   REFERENCES users(id)      ON DELETE CASCADE,
  CONSTRAINT fk_prod_cat_top FOREIGN KEY (category_top) REFERENCES categories(id) ON DELETE SET NULL,
  CONSTRAINT fk_prod_cat_sub FOREIGN KEY (category_sub) REFERENCES categories(id) ON DELETE SET NULL,
  INDEX idx_products_status_updated (status, updated_at DESC),
  INDEX idx_products_campus (campus_code, updated_at DESC)
) ENGINE=InnoDB;

-- 3-1) 상품 이미지
CREATE TABLE IF NOT EXISTS product_images (
  id         BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  product_id BIGINT UNSIGNED NOT NULL,
  url        VARCHAR(500) NOT NULL,
  sort_order INT NOT NULL DEFAULT 0,
  created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  CONSTRAINT fk_pimg_prod FOREIGN KEY (product_id) REFERENCES products(id) ON DELETE CASCADE,
  INDEX idx_pimg_prod (product_id, sort_order)
) ENGINE=InnoDB;

-- 3-2) 찜(좋아요)
CREATE TABLE IF NOT EXISTS product_likes (
  product_id BIGINT UNSIGNED NOT NULL,
  user_id    BIGINT UNSIGNED NOT NULL,
  created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (product_id, user_id),
  CONSTRAINT fk_plike_prod FOREIGN KEY (product_id) REFERENCES products(id) ON DELETE CASCADE,
  CONSTRAINT fk_plike_user FOREIGN KEY (user_id)    REFERENCES users(id)    ON DELETE CASCADE
) ENGINE=InnoDB;

-- 4) 주문(거래 상태)
CREATE TABLE IF NOT EXISTS orders (
  id            BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  product_id    BIGINT UNSIGNED NOT NULL,
  buyer_id      BIGINT UNSIGNED NOT NULL,
  seller_id     BIGINT UNSIGNED NOT NULL,
  price         INT NOT NULL,
  method        ENUM('DIRECT','ESCROW') NOT NULL, -- 직접결제/안심결제
  status        ENUM('PENDING','PAID','DELIVERING','DELIVERED','CONFIRMED','CANCELLED') NOT NULL DEFAULT 'PENDING',
  is_ku_delivery BOOLEAN NOT NULL DEFAULT FALSE, -- KU대리 여부
  created_at    DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  updated_at    DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  CONSTRAINT fk_order_product FOREIGN KEY (product_id) REFERENCES products(id) ON DELETE CASCADE,
  CONSTRAINT fk_order_buyer   FOREIGN KEY (buyer_id)   REFERENCES users(id)    ON DELETE RESTRICT,
  CONSTRAINT fk_order_seller  FOREIGN KEY (seller_id)  REFERENCES users(id)    ON DELETE RESTRICT,
  INDEX idx_orders_buyer (buyer_id, created_at DESC),
  INDEX idx_orders_seller (seller_id, created_at DESC),
  INDEX idx_orders_status (status, updated_at DESC)
) ENGINE=InnoDB;

-- 5) 결제(안심결제/직접결제 결과 기록)
CREATE TABLE IF NOT EXISTS payments (
  id           BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  order_id     BIGINT UNSIGNED NOT NULL,
  amount       INT NOT NULL,
  method       ENUM('DIRECT','ESCROW') NOT NULL,
  status       ENUM('INIT','AUTHORIZED','CAPTURED','CANCELLED','REFUNDED','FAILED') NOT NULL DEFAULT 'INIT',
  txn_id       VARCHAR(100) NULL, -- 외부 PG/지갑 거래번호
  meta_json    JSON NULL,
  created_at   DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  updated_at   DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  CONSTRAINT fk_payment_order FOREIGN KEY (order_id) REFERENCES orders(id) ON DELETE CASCADE,
  INDEX idx_pay_order (order_id, created_at DESC),
  INDEX idx_pay_status (status, updated_at DESC)
) ENGINE=InnoDB;

-- 6) 채팅(방/참가자/메시지)
CREATE TABLE IF NOT EXISTS chat_rooms (
  id          BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  product_id  BIGINT UNSIGNED NULL,
  order_id    BIGINT UNSIGNED NULL,
  status      ENUM('OPEN','CLOSED') NOT NULL DEFAULT 'OPEN',
  created_at  DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  updated_at  DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  CONSTRAINT fk_croom_product FOREIGN KEY (product_id) REFERENCES products(id) ON DELETE SET NULL,
  CONSTRAINT fk_croom_order   FOREIGN KEY (order_id)   REFERENCES orders(id)   ON DELETE SET NULL,
  KEY idx_chat_room_status (status, updated_at DESC)
) ENGINE=InnoDB;

CREATE TABLE IF NOT EXISTS chat_room_participants (
  room_id       BIGINT UNSIGNED NOT NULL,
  user_id       BIGINT UNSIGNED NOT NULL,
  role          ENUM('BUYER','SELLER') NOT NULL,
  joined_at     DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (room_id, user_id),
  CONSTRAINT fk_crp_room FOREIGN KEY (room_id) REFERENCES chat_rooms(id) ON DELETE CASCADE,
  CONSTRAINT fk_crp_user FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE
) ENGINE=InnoDB;

CREATE TABLE IF NOT EXISTS chat_messages (
  id          BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  room_id     BIGINT UNSIGNED NOT NULL,
  sender_id   BIGINT UNSIGNED NOT NULL,
  content     TEXT NULL,
  msg_type    ENUM('TEXT','IMAGE','SYSTEM') NOT NULL DEFAULT 'TEXT',
  read_count  INT NOT NULL DEFAULT 0,
  created_at  DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  CONSTRAINT fk_cmsg_room   FOREIGN KEY (room_id)  REFERENCES chat_rooms(id) ON DELETE CASCADE,
  CONSTRAINT fk_cmsg_sender FOREIGN KEY (sender_id) REFERENCES users(id)   ON DELETE CASCADE,
  INDEX idx_cmsg_room_time (room_id, created_at)
) ENGINE=InnoDB;

-- 7) KU대리(배달) - 요청/상태 히스토리
CREATE TABLE IF NOT EXISTS delivery_requests (
  id             BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  order_id       BIGINT UNSIGNED NOT NULL,
  rider_id       BIGINT UNSIGNED NULL,
  start_lat      DECIMAL(10,7) NOT NULL,
  start_lng      DECIMAL(10,7) NOT NULL,
  end_lat        DECIMAL(10,7) NOT NULL,
  end_lng        DECIMAL(10,7) NOT NULL,
  distance_km    DECIMAL(6,2) NOT NULL DEFAULT 0.00,
  fee            INT NOT NULL DEFAULT 0,  -- 0.5km당 200원 정책은 앱/백엔드에서 계산해 반영
  status         ENUM('REQUESTED','MATCHED','PICKED','DELIVERING','DONE','CANCELLED') NOT NULL DEFAULT 'REQUESTED',
  created_at     DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  updated_at     DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  CONSTRAINT fk_dreq_order FOREIGN KEY (order_id) REFERENCES orders(id) ON DELETE CASCADE,
  CONSTRAINT fk_dreq_rider FOREIGN KEY (rider_id) REFERENCES users(id)  ON DELETE SET NULL,
  INDEX idx_dreq_status (status, updated_at DESC)
) ENGINE=InnoDB;

CREATE TABLE IF NOT EXISTS delivery_status_history (
  id           BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  request_id   BIGINT UNSIGNED NOT NULL,
  status       VARCHAR(32) NOT NULL, -- 자유 문자열(알림용 섬세한 상태)
  note         VARCHAR(255) NULL,
  created_at   DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  CONSTRAINT fk_dhist_req FOREIGN KEY (request_id) REFERENCES delivery_requests(id) ON DELETE CASCADE,
  INDEX idx_dhist_req_time (request_id, created_at)
) ENGINE=InnoDB;

-- 8) 후기/신고 (간단 MVP)
CREATE TABLE IF NOT EXISTS reviews (
  id          BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  order_id    BIGINT UNSIGNED NOT NULL,
  reviewer_id BIGINT UNSIGNED NOT NULL,
  target_id   BIGINT UNSIGNED NOT NULL,
  rating      TINYINT NOT NULL, -- 1~5
  comment     VARCHAR(500) NULL,
  created_at  DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  CONSTRAINT fk_rev_order   FOREIGN KEY (order_id)    REFERENCES orders(id) ON DELETE CASCADE,
  CONSTRAINT fk_rev_reviewr FOREIGN KEY (reviewer_id) REFERENCES users(id)  ON DELETE CASCADE,
  CONSTRAINT fk_rev_target  FOREIGN KEY (target_id)   REFERENCES users(id)  ON DELETE CASCADE,
  UNIQUE KEY uq_review_once (order_id, reviewer_id, target_id)
) ENGINE=InnoDB;

CREATE TABLE IF NOT EXISTS reports (
  id          BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  reporter_id BIGINT UNSIGNED NOT NULL,
  target_type ENUM('USER','PRODUCT','CHAT') NOT NULL,
  target_id   BIGINT UNSIGNED NOT NULL,
  reason      VARCHAR(255) NOT NULL,
  created_at  DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  CONSTRAINT fk_rep_reporter FOREIGN KEY (reporter_id) REFERENCES users(id) ON DELETE CASCADE,
  INDEX idx_rep_target (target_type, target_id, created_at DESC)
) ENGINE=InnoDB;

-- 기본 더미 데이터(선택)
INSERT INTO users (email, password_hash, name, campus_code)
VALUES ('test1@ku.ac.kr', 'hash', '테스터1', 'KU')
ON DUPLICATE KEY UPDATE name=VALUES(name);

INSERT INTO categories (id, parent_id, name, sort_order) VALUES
(1, NULL, '디지털/가전', 1) ON DUPLICATE KEY UPDATE name=VALUES(name);
INSERT INTO categories (parent_id, name, sort_order)
SELECT 1, '노트북', 1 WHERE NOT EXISTS (SELECT 1 FROM categories WHERE parent_id=1 AND name='노트북');

-- 끝.
